USE [master]
GO
/****** Object:  Database [Functional]    Script Date: 07-04-2025 12:34:09 ******/
CREATE DATABASE [Functional]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Functional', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Functional.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Functional_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Functional_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Functional].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Functional]
GO
/****** Object:  Table [dbo].[Accs]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accs](
	[pname] [nvarchar](50) NOT NULL,
	[atype] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Product]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Product](
	[pid] [int] NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [float] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[mrp] [float] NULL,
	[stock] [int] NULL,
	[display] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[memory] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Product_Amazon]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Product_Amazon](
	[pid] [int] NOT NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [float] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[mrp] [float] NULL,
	[stock] [int] NULL,
	[display] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[memory] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Product_Flipkart]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Product_Flipkart](
	[pid] [int] NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [float] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[mrp] [float] NULL,
	[stock] [int] NULL,
	[display] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[memory] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Product_Relience_Digital]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Product_Relience_Digital](
	[pid] [int] NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [float] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[mrp] [float] NULL,
	[stock] [int] NULL,
	[display] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[memory] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amazon_Reviews]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amazon_Reviews](
	[rid] [int] NULL,
	[pid] [nvarchar](50) NULL,
	[review] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Analysis]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analysis](
	[company] [nvarchar](50) NULL,
	[year] [nvarchar](50) NULL,
	[pname] [nvarchar](50) NULL,
	[pcount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalysisReview]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisReview](
	[ctype] [nvarchar](50) NULL,
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalysisReview_Amazon]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisReview_Amazon](
	[ctype] [nvarchar](50) NULL,
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalysisReview_Flipkart]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisReview_Flipkart](
	[ctype] [nvarchar](50) NULL,
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalysisReview_Relience_Digital]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisReview_Relience_Digital](
	[ctype] [nvarchar](50) NULL,
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalysisReviewAll]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisReviewAll](
	[ctype] [nvarchar](50) NULL,
	[count _positive] [int] NULL,
	[count_negative] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flipkart_Reviews]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flipkart_Reviews](
	[rid] [int] NULL,
	[pid] [nvarchar](50) NULL,
	[review] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendation]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[ip_address] [nvarchar](max) NULL,
	[search_products] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[pwd] [nvarchar](max) NULL,
	[cpwd] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
	[mobileno] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relience_Digital_Reviews]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relience_Digital_Reviews](
	[rid] [int] NULL,
	[pid] [nvarchar](50) NULL,
	[review] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[pid] [nvarchar](50) NULL,
	[review] [nvarchar](max) NULL,
	[rdate] [nvarchar](50) NULL,
	[userid] [nvarchar](50) NULL,
	[uname] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temp]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp](
	[pid] [int] NOT NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [float] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[mrp] [float] NULL,
	[stock] [int] NULL,
	[user_id] [int] NULL,
	[qty] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempProduct]    Script Date: 07-04-2025 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempProduct](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nvarchar](max) NULL,
	[prate] [float] NULL,
	[describe] [nvarchar](max) NULL,
	[photo] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[mrp] [float] NULL,
	[stock] [int] NULL,
	[display] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[memory] [nvarchar](50) NULL,
 CONSTRAINT [PK_TempProduct] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Add_Product] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (12, N'Redmi Mobile', 10000, N'Gorilla Glass , 80 W charger', N'm3.jpg', N'Mobile', 12000, 45, N'5 Inch Display', N'Red', N'64 GB')
INSERT [dbo].[Add_Product] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (14, N'Samsung TV ', 25000, N'Android TV', N'TV.jpg', N'TV And Audio', 27000, 100, N'48 inch', N'Black', N'2GB')
INSERT [dbo].[Add_Product] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (27, N'MSI Modern 14 H Intel Core i9 13th Gen 13900H Laptop', 72000, N'1 TB SSD/Windows 11 Home/Modern 14 H D13MG-071IN ', N'MSI Modern 14 H Intel Core i9 13th Gen 13900H.jpg', N'Laptop', 74990, 45, N'14 Inch ', N'Classic Black', N'16 GB ')
GO
INSERT [dbo].[Add_Product_Amazon] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (12, N'Redmi Mobile', 10000, N'Gorilla Glass , 80 W charger', N'm3.jpg', N'Mobile', 12000, 10, N'5 Inch Display', N'Red', N'64 GB')
INSERT [dbo].[Add_Product_Amazon] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (14, N'Samsung TV', 25000, N'Android TV', N'TV.jpg', N'TV And Audio', 27000, 90, N'48 inch', N'Black', N'2GB')
INSERT [dbo].[Add_Product_Amazon] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (1, N' Aiwa TV', 40000, N'Smart Google TV', N'Aiwa.jpg', N'TV & Ultra HD', 94990, 25, N'65 inch', N'Black', N'16 GB')
GO
INSERT [dbo].[Add_Product_Flipkart] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (12, N'Redmi Mobile', 10000, N'Gorilla Glass , 80 W charger', N'm3.jpg', N'Mobile', 12000, 45, N'5 Inch Display', N'Red', N'64 GB')
INSERT [dbo].[Add_Product_Flipkart] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (14, N'Samsung TV', 25000, N'Android TV', N'TV.jpg', N'TV And Audio', 27000, 100, N'48 inch', N'Black', N'2GB')
INSERT [dbo].[Add_Product_Flipkart] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (1, N' Aiwa TV', 45000, N'Smart Google TV', N'Aiwa.jpg', N'TV & Ultra HD', 149990, 20, N'65 inch', N'Black', N'16 GB')
GO
INSERT [dbo].[Add_Product_Relience_Digital] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (12, N'Redmi Mobile', 11500, N'Gorilla Glass , 80 W charger', N'm3.jpg', N'Mobile', 13003, 45, N'5 Inch Display', N'Red', N'64 GB')
INSERT [dbo].[Add_Product_Relience_Digital] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (14, N'Samsung TV', 24000, N'Android TV', N'TV.jpg', N'TV And Audio', 25000, 10, N'48 inch', N'Black', N'2GB')
INSERT [dbo].[Add_Product_Relience_Digital] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (1, N' Aiwa TV', 45000, N'Smart Google TV', N'Aiwa.jpg', N'TV & Ultra HD', 149990, 32, N'65 inch', N'Black', N'16 GB')
GO
INSERT [dbo].[Amazon_Reviews] ([rid], [pid], [review]) VALUES (1, N'12', N'I like this product.')
INSERT [dbo].[Amazon_Reviews] ([rid], [pid], [review]) VALUES (2, N'12', N'i  like this product.')
INSERT [dbo].[Amazon_Reviews] ([rid], [pid], [review]) VALUES (3, N'14', N'i like this product.')
GO
INSERT [dbo].[AnalysisReview] ([ctype], [count]) VALUES (N'Positive', 3)
INSERT [dbo].[AnalysisReview] ([ctype], [count]) VALUES (N'Negative', 2)
GO
INSERT [dbo].[AnalysisReview_Amazon] ([ctype], [count]) VALUES (N'Positive', 4)
INSERT [dbo].[AnalysisReview_Amazon] ([ctype], [count]) VALUES (N'Negative', 0)
GO
INSERT [dbo].[AnalysisReview_Flipkart] ([ctype], [count]) VALUES (N'Positive', 1)
INSERT [dbo].[AnalysisReview_Flipkart] ([ctype], [count]) VALUES (N'Negative', 0)
GO
INSERT [dbo].[AnalysisReview_Relience_Digital] ([ctype], [count]) VALUES (N'Positive', 2)
INSERT [dbo].[AnalysisReview_Relience_Digital] ([ctype], [count]) VALUES (N'Negative', 0)
GO
INSERT [dbo].[AnalysisReviewAll] ([ctype], [count _positive], [count_negative]) VALUES (N'Amazon', NULL, NULL)
INSERT [dbo].[AnalysisReviewAll] ([ctype], [count _positive], [count_negative]) VALUES (N'Meesho', NULL, NULL)
INSERT [dbo].[AnalysisReviewAll] ([ctype], [count _positive], [count_negative]) VALUES (N'Flipkart', NULL, NULL)
GO
INSERT [dbo].[Flipkart_Reviews] ([rid], [pid], [review]) VALUES (1, N'12', N'I like this product.')
INSERT [dbo].[Flipkart_Reviews] ([rid], [pid], [review]) VALUES (2, N'12', N'i d like this product.')
INSERT [dbo].[Flipkart_Reviews] ([rid], [pid], [review]) VALUES (3, N'14', N'Awsome TV.')
INSERT [dbo].[Flipkart_Reviews] ([rid], [pid], [review]) VALUES (8, N'1', N'Voice control is a game-changer.
')
GO
SET IDENTITY_INSERT [dbo].[Recommendation] ON 

INSERT [dbo].[Recommendation] ([id], [user_id], [ip_address], [search_products]) VALUES (178, 1, N'::1', N'samsung')
INSERT [dbo].[Recommendation] ([id], [user_id], [ip_address], [search_products]) VALUES (179, 1, N'::1', N'mi tv')
INSERT [dbo].[Recommendation] ([id], [user_id], [ip_address], [search_products]) VALUES (180, 13, N'::1', N'mi tv')
GO
SET IDENTITY_INSERT [dbo].[Recommendation] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([id], [name], [email], [pwd], [cpwd], [username], [mobileno]) VALUES (16, N'Sagar Kalbande', N'sagar@gmail.com', N'sagar', N'sagar', N'sagar', N'9865895689')
INSERT [dbo].[Registration] ([id], [name], [email], [pwd], [cpwd], [username], [mobileno]) VALUES (17, N'Tanaya ', N'tanaya16gughane@gmail.com', N'Tanu1614', N'Tanu1614', N'Tanu', N'9049717791')
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
INSERT [dbo].[Relience_Digital_Reviews] ([rid], [pid], [review]) VALUES (1, N'12', N'I like this product.')
INSERT [dbo].[Relience_Digital_Reviews] ([rid], [pid], [review]) VALUES (2, N'12', N'Good Phone.')
INSERT [dbo].[Relience_Digital_Reviews] ([rid], [pid], [review]) VALUES (3, N'12', N'Awsome Phone.')
GO
INSERT [dbo].[Review] ([pid], [review], [rdate], [userid], [uname]) VALUES (N'12', N'Its awesome product.', N'16/06/2021', N'12', N'Pratik Yawale')
INSERT [dbo].[Review] ([pid], [review], [rdate], [userid], [uname]) VALUES (N'5', N'I purchased this product. Camera quality is good.', N'16/06/2021', N'12', N'Pratik Yawale')
INSERT [dbo].[Review] ([pid], [review], [rdate], [userid], [uname]) VALUES (N'5', N'I like this product. Camera quality is not good.', N'16/06/2021', N'12', N'Pratik Yawale')
GO
SET IDENTITY_INSERT [dbo].[TempProduct] ON 

INSERT [dbo].[TempProduct] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (15546, N'Redmi Mobile', 10000, N'Gorilla Glass , 80 W charger', N'm3.jpg', N'Mobile', 12000, 45, N'5 Inch Display', N'Red', N'64 GB')
INSERT [dbo].[TempProduct] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (15547, N'MSI Modern 14 H Intel Core i9 13th Gen 13900H Laptop', 72000, N'1 TB SSD/Windows 11 Home/Modern 14 H D13MG-071IN ', N'MSI Modern 14 H Intel Core i9 13th Gen 13900H.jpg', N'Laptop', 74990, 45, N'14 Inch ', N'Classic Black', N'16 GB ')
INSERT [dbo].[TempProduct] ([pid], [pname], [prate], [describe], [photo], [category], [mrp], [stock], [display], [color], [memory]) VALUES (15548, N'Lenovo V14 Intel Core i5 12th Gen 1235U Laptop', 36000, N'512 GB SSD/Windows 11 Home/ V 14 Thin and Light Laptop  ', N'Lenovo V14 Intel Core i5 12th Gen 1235U.jpg', N'Laptop', 38990, 65, N'14.1 Inch', N'Iron Grey', N'16 GB')
SET IDENTITY_INSERT [dbo].[TempProduct] OFF
GO
USE [master]
GO
